<div>
  <h2><%= meal_object[:meal_name] %></h2>

  <img src="<%= meal_object.fetch(:meal_photo) %>" class="img-fluid" alt="<%= meal_object[:meal_name] %> image">
  <dl>
    <dt>Ingredients</dt>    
    <dd>
      <ul>
      <% meal_object[:ingredients_with_measurements].each {|key,value| %>
      <li><%= key %>: <%= value %></li>
      <% } %>
       </ul>
    </dd>
    <dt>Instruction</dt>
    <dd><%= meal_object[:meal_instructions] %></dd>
  </dl>
</div>
